In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Rochak Malhotra\Desktop\596958_1073629_bundle_archive (1)\Placement_Data_Full_Class.csv")

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [5]:
df.shape

(215, 15)

In [6]:
df_job=df.iloc[:,:14]

In [7]:
df_job.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [64]:
df_job['degree_t'].unique

<bound method Series.unique of 0      2
1      2
2      0
3      2
4      0
      ..
210    0
211    2
212    0
213    0
214    0
Name: degree_t, Length: 215, dtype: int8>

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
df_job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 14 columns):
sl_no             215 non-null int64
gender            215 non-null object
ssc_p             215 non-null float64
ssc_b             215 non-null object
hsc_p             215 non-null float64
hsc_b             215 non-null object
hsc_s             215 non-null object
degree_p          215 non-null float64
degree_t          215 non-null object
workex            215 non-null object
etest_p           215 non-null float64
specialisation    215 non-null object
mba_p             215 non-null float64
status            215 non-null object
dtypes: float64(5), int64(1), object(8)
memory usage: 23.6+ KB

In [10]:
df_job[['gender','ssc_b','hsc_b','hsc_s','degree_t','workex','specialisation','status']]=df_job[['gender','ssc_b','hsc_b','hsc_s','degree_t','workex','specialisation','status']].astype('category')

In [11]:
dict( zip( df_job['gender'].cat.codes, df['gender'] ) )

{1: 'M', 0: 'F'}

In [12]:
df_job['gender']=df_job['gender'].cat.codes

In [13]:
dict( zip( df_job['ssc_b'].cat.codes, df['ssc_b'] ) )

{1: 'Others', 0: 'Central'}

In [14]:
df_job['ssc_b']=df_job['ssc_b'].cat.codes

In [15]:
dict( zip( df_job['hsc_s'].cat.codes, df['hsc_s'] ) )

{1: 'Commerce', 2: 'Science', 0: 'Arts'}

In [16]:
df_job['hsc_s']=df_job['hsc_s'].cat.codes

In [17]:
dict( zip( df_job['degree_t'].cat.codes, df['degree_t'] ) )

{2: 'Sci&Tech', 0: 'Comm&Mgmt', 1: 'Others'}

In [18]:
df_job['degree_t']=df_job['degree_t'].cat.codes

In [19]:
dict( zip( df_job['workex'].cat.codes, df['workex'] ) )

{0: 'No', 1: 'Yes'}

In [20]:
df_job['workex']=df_job['workex'].cat.codes

In [21]:
dict( zip( df_job['specialisation'].cat.codes, df['specialisation'] ) )

{1: 'Mkt&HR', 0: 'Mkt&Fin'}

In [22]:
df_job['specialisation']=df_job['specialisation'].cat.codes

In [23]:
dict( zip( df_job['status'].cat.codes, df['status'] ) )

{1: 'Placed', 0: 'Not Placed'}

In [24]:
df_job['status']=df_job['status'].cat.codes

In [25]:
dict( zip( df_job['hsc_b'].cat.codes, df['hsc_b'] ) )

{1: 'Others', 0: 'Central'}

In [26]:
df_job['hsc_b']=df_job['hsc_b'].cat.codes

In [27]:
df_job.drop('sl_no',axis=1,inplace=True)

In [28]:
df_job.shape

(215, 13)

In [29]:
X=df_job.iloc[:,:12]

In [30]:
y=df_job.iloc[:,-1]

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [32]:
X_test.shape

(54, 12)

In [33]:
X_train.shape

(161, 12)

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knn=KNeighborsClassifier()

In [69]:
knn=knn.fit(X_train,y_train)

In [70]:
y_pred=knn.predict(X_test)

In [71]:
y_test=y_test.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [72]:
y_test

array([0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1], dtype=int8)

In [53]:
y_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [73]:
import pickle
# open a file, where you ant to store the data
file = open('knn_model.pkl', 'wb')

# dump information to that file
pickle.dump(knn, file)

In [62]:
X_test.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p'],
      dtype='object')

In [66]:
X_train.shape

(161, 12)

In [68]:
X_test.shape

(54, 12)